*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
img{
    object-fit: cover
}
body{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    background-color: #141414;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
  }
 
  ::-webkit-scrollbar-thumb{
    background-color: #8989898f;
    border-radius: 5px;
  }
.header{
    width: 100%;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 40%, rgb(21 20 20) 100%);    
    position: relative;
}
.header img{
   width: 100%;
   height: 800px;
   z-index: -1;
   display: block;
   position: relative;
}
.information-header{
    max-width: 30%;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #f0ebe9;
    display: flex;
    flex-direction: column;
}
.information-header h1{
   letter-spacing: 3px;
}
.information-header .information-most{
    display: flex;
    align-items: center;
    
 }
.information-header .information-most  svg{
    width: 40px;
 }
 .information-header .information-most  .review{
   display: flex;
 }
 .nav-bar{
    width: 100%;
    height: 68px;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index:101;
    
}
.nav-bar.scroll{
    background: rgb(20, 20, 20);
}
 .nav-bar .element-left, .element-right{
   display: flex;
   align-items: center;
   margin-left: 60px;
}

 .nav-bar .element-left ul li{
    display: inline-block;
    padding-right: 21px;
    font-size: 16px;
 }
 .nav-bar .element-left img{
    width: 100px;
    margin-right:60px;
}
 .nav-bar  .element-right{
    margin-right: 60px;
 }
  .nav-bar  .element-right i{
    padding:0 10px ;
    font-size: 18px;
    cursor: pointer;
 }
  .nav-bar  .element-right .profile {
     padding-left: 10px;
    display: flex;
    align-items: center; 
 }
  .nav-bar  .element-right .search-box{
     width: 250px;
   background-color: rgba(0, 0, 0, 0.363);
   border: 1px solid white;
   display: none;
   align-items: center;
   padding:5px 0;
   
 }
 .nav-bar  .element-right .search-box input {
     height: 100%;
     border: none;
     background-color: rgb(0, 255, 55);
    outline-style: none;
    background-color: transparent;
    color: white;
    font-size: 15px;
 }
 .nav-bar  .element-right  input::placeholder {
    font-weight: 400;
    color: rgb(158, 154, 154);
 }
 .nav-bar  .element-right .profile img{
    width: 30px;
    margin-right: 10px;
   
 }
 .display-hidden{
     display: none;
 } 
 .display-show{
     display: flex;
 }
 .search .content-movie {
    display: flex;
    justify-content: flex-end;
 }
 .search .content-movie .wrap{
    width: 98%;
    margin-top: 20px;
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    
 }
 .search .content-movie .wrap .box {
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    margin-bottom: 54px;
    margin-right: 5px; 
   
}
.search .box:hover{
    transform-origin: center;
    transform: scale(1.1);
    transition: 0.6s linear;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    z-index:100;
}
.search .box:hover .wrapper-information{
    transition: 0.6s linear;
    display: block;
}
 .search .content-movie .wrap .box img{
      width: 100%;
      height: 140px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
 }
 .search{
     width: 100%;
     height: 100vh;
     margin-top: 150px;
 }
 .search .content-movie{
     justify-content: center;
 }
 .search .box .wrapper-information{
     display: none;
     height: 100%;
    background-color:#181818;
    padding: 10px;
}
 .box .tools-items, .element .tools-items{
     width: 100%;
     display: flex;
     justify-content: space-between;
     margin-top: 10px;
     font-size: 25px;
     color: white;
 }
.box .tools-items i,.element .tools-items i{
    padding-left: 5px;
    cursor: pointer;
 }
 .box .information-items,.element .information-items{
    font-size: 15px;
 }
 .button .riproduci, .info,.tools-checked .riproduci{
    font-size: 20px;
    border: none;
    background-color: white;
    border-radius: 2px;
    padding: 13px 20px ;
    font-weight: bold;
    cursor: pointer;
 }
 .button .info{
    background-color: #989898b5;
    color: white;
 }
.home .content-movie{
    width: 100%;
    height: 100vh;
    z-index: 1;
}
.home .content-movie .categoria-header{
    width: 100%;
    margin-bottom: 20px;
}
.home .content-movie .categoria .slider{
    width: 100%;
   
    overflow-x: scroll;
    display: flex;
    position: relative;
}
.home .content-movie .categoria .slider .element{
    flex-basis: 250px;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 5px; 
    margin-bottom: 10px;
} 
.home .content-movie .categoria .slider .element img{
    height: 150px;
} 
.element:hover{
    transform-origin: center;
    transition: 0.6s linear;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  
}

.home .categoria .element:hover .wrapper-information{
 display: block;
}
.home .content-movie  .slider  .wrapper-information{
   background-color:#181818;
   padding: 10px;
    height: 130px;
   
}
.block-information {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 140;
 }
.block-information .block{
   position: fixed;
    top: 50%;
   left: 50%;  
   height: 90vh;
    transform: translate(-50%,-50%);
   z-index: 130;
    display: flex;
    flex-direction: column;  
    background-color:#181818;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.75);
  
}
.block-information .block .close{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    z-index: 120;
 }
 .block-information .block .close i{
    cursor: pointer;
 }
.block-information .block .image-info {
    height:500px;
    width: 100%;
    background: rgba(255, 255, 255, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(255, 255, 255, .1) 40%, rgb(21 20 20) 100%);    
    position: relative;
    
 }
.block-information .block .image-info img{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: -1;
   
 }
 .image-info .information{
     position: absolute;
     bottom: 10%;
     left: 2%;
     color: white;
     display: flex;
     flex-direction: column;
 }
 .tools-checked {
    display: flex;
    align-items: center;
 }
 .tools-checked >i{
    font-size: 30px;
    padding-left: 30px;
    cursor: pointer;
}
.other-information{
    padding: 15px;
    display: flex;
}
.other-information .left{
    width: 70%;
    display: flex;
    flex-direction: column;
 

}
.other-information .left p{
   line-height: 30px;
   display: block;
  height: 150px; 
     overflow: auto;
}
.other-information .right{
    width: 40%;
    display: flex;
    flex-direction: column;
    
}
.other-information .right .cast, 
.other-information .right .generi{
    color:    #777;
    display: flex;
}
.other-information .right .cast ul li, 
.other-information .right .generi ul li{
   display: inline-block;
}
.rew{
    display: flex;
}




